@model IEnumerable<CadeMeuMedico.Models.Cidades>

@{
    ViewBag.Title = "Cidades cadastradas";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Cidades</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCidade }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCidade }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCidade })
        </td>
    </tr>
}

</table>
